In [2]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [14]:
df.shape

(60943, 12)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [16]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [23]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

#### Q1) What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [30]:
Total_missing_2014 = df['Y2014'].isnull().sum()
percentage = round((Total_missing_2014/len(df)) * 100, 3)
print(f'Total number of missing data: {Total_missing_2014}')
print(f'Percentage of missing data: {percentage}')

Total number of missing data: 1589
Percentage of missing data: 2.607

#### Q3) Which year had the least correlation with 'Element Code'?

In [78]:
df.corr()

/var/folders/ns/_rhcw7l9181ffdc7875x_3yr0000gn/T/ipykernel_4279/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [77]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df.corr()['Element Code'].sort_values()

/var/folders/ns/_rhcw7l9181ffdc7875x_3yr0000gn/T/ipykernel_4279/1955890570.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Element Code'].sort_values()

Item Code      -0.024683
Area Code      -0.000209
Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [80]:
print('The year with the least correlation is Y2016')

The year with the least correlation is Y2016

#### Q4) What is the total sum of Wine produced in 2015 and 2018 respectively?

In [90]:
df.groupby('Item')[['Y2015','Y2018']].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

#### Q6) Select columns 'Y2017' and 'Area', Perform a groupby operation on 'Area. Which of these Areas had the 7th lowest sum in 2017?

In [122]:
df[['Area','Y2017']].groupby('Area')[['Y2017']].sum().sort_values(by='Y2017').iloc[6]

Y2017    19102.77
Name: Guinea-Bissau, dtype: float64

#### Q7) Perform a groupby operation on 'Element. What is the total number of the sum of Processing in 2017?

In [125]:
df.groupby('Element')[['Y2017']].sum().loc['Processing']

Y2017    292836.0
Name: Processing, dtype: float64

#### Q9) Perform a groupby operation on 'Element'. What year has the highest sum of Stock Variation?

In [134]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
df.groupby('Element')[years].sum().loc['Stock Variation']

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

In [135]:
print('The year with the highest stock variation is Y2014')

The year with the highest stock variation is Y2014

#### Q10) What is the total number of unique countries in the dataset?

In [136]:
df['Area'].nunique()

49

#### Q12) What is the total Protein supply quantity in Madagascar in 2015?

In [144]:
df.groupby(['Element','Area'])[['Y2015']].sum().loc['Protein supply quantity (g/capita/day)'].loc['Madagascar']

Y2015    173.05
Name: Madagascar, dtype: float64

#### Q14) Which of these Areas had the highest sum in 2017?

In [156]:
df.groupby('Area')[['Y2017']].sum().sort_values(by='Y2017',ascending=False).iloc[0]

Y2017    1483268.23
Name: Nigeria, dtype: float64

#### Q20) What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [169]:
df['Y2017'].agg(['mean','std']).round(2)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

In [19]:
df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [86]:
sorted(df.Item.unique())

['Alcohol, Non-Food',
 'Alcoholic Beverages',
 'Animal Products',
 'Animal fats',
 'Apples and products',
 'Aquatic Animals, Others',
 'Aquatic Plants',
 'Aquatic Products, Other',
 'Bananas',
 'Barley and products',
 'Beans',
 'Beer',
 'Beverages, Alcoholic',
 'Beverages, Fermented',
 'Bovine Meat',
 'Butter, Ghee',
 'Cassava and products',
 'Cephalopods',
 'Cereals - Excluding Beer',
 'Cereals, Other',
 'Citrus, Other',
 'Cloves',
 'Cocoa Beans and products',
 'Coconut Oil',
 'Coconuts - Incl Copra',
 'Coffee and products',
 'Cottonseed',
 'Cottonseed Oil',
 'Cream',
 'Crustaceans',
 'Dates',
 'Demersal Fish',
 'Eggs',
 'Fats, Animals, Raw',
 'Fish, Body Oil',
 'Fish, Liver Oil',
 'Fish, Seafood',
 'Freshwater Fish',
 'Fruits - Excluding Wine',
 'Fruits, Other',
 'Grand Total',
 'Grapefruit and products',
 'Grapes and products (excl wine)',
 'Groundnut Oil',
 'Groundnuts (Shelled Eq)',
 'Honey',
 'Infant food',
 'Lemons, Limes and products',
 'Maize Germ Oil',
 'Maize and products',
 'Marine Fish, Other',
 'Meat',
 'Meat, Other',
 'Milk - Excluding Butter',
 'Millet and products',
 'Miscellaneous',
 'Molluscs, Other',
 'Mutton & Goat Meat',
 'Nuts and products',
 'Oats',
 'Offals',
 'Offals, Edible',
 'Oilcrops',
 'Oilcrops Oil, Other',
 'Oilcrops, Other',
 'Olive Oil',
 'Olives (including preserved)',
 'Onions',
 'Oranges, Mandarines',
 'Palm Oil',
 'Palm kernels',
 'Palmkernel Oil',
 'Peas',
 'Pelagic Fish',
 'Pepper',
 'Pigmeat',
 'Pimento',
 'Pineapples and products',
 'Plantains',
 'Population',
 'Potatoes and products',
 'Poultry Meat',
 'Pulses',
 'Pulses, Other and products',
 'Rape and Mustard Oil',
 'Rape and Mustardseed',
 'Rice and products',
 'Ricebran Oil',
 'Roots, Other',
 'Rye and products',
 'Sesame seed',
 'Sesameseed Oil',
 'Sorghum and products',
 'Soyabean Oil',
 'Soyabeans',
 'Spices',
 'Spices, Other',
 'Starchy Roots',
 'Stimulants',
 'Sugar & Sweeteners',
 'Sugar (Raw Equivalent)',
 'Sugar Crops',
 'Sugar beet',
 'Sugar cane',
 'Sugar non-centrifugal',
 'Sunflower seed',
 'Sunflowerseed Oil',
 'Sweet potatoes',
 'Sweeteners, Other',
 'Tea (including mate)',
 'Tomatoes and products',
 'Treenuts',
 'Vegetable Oils',
 'Vegetables',
 'Vegetables, Other',
 'Vegetal Products',
 'Wheat and products',
 'Wine',
 'Yams']