In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [8]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

#### Row Description

'''
- date: Date and time of the observation
- Appliances: Energy consumption of appliances (dependent variable)
- lights: Energy consumption of lights (dependent variable)
- T1: Temperature in room 1
- RH_1: Relative humidity in room 1
- T2: Temperature in room 2
- RH_2: Relative humidity in room 2
- T3: Temperature in room 3
- RH_3: Relative humidity in room 3
- T4: Temperature in room 4
- RH_4: Relative humidity in room 4
- T5: Temperature in room 5
- RH_5: Relative humidity in room 5
- T6: Temperature outside the building (north side)
- RH_6: Relative humidity outside the building (north side)
- T7: Temperature in ironing room
- RH_7: Relative humidity in ironing room
- T8: Temperature in teenager room 2
- RH_8: Relative humidity in teenager room 2
- T9: Temperature in parent's room
- RH_9: Relative humidity in parent's room
- T_out: Temperature outside (from Chievres weather station)
- Press_mm_hg: Pressure (from Chievres weather station)
- RH_out: Relative humidity outside (from Chievres weather station)
- Windspeed: Windspeed (from Chievres weather station)
- Visibility: Visibility (from Chievres weather station)
- Tdewpoint: Dewpoint temperature (from Chievres weather station)
- rv1: Random variable 1
- rv2: Random variable 2
'''

####

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

####

#### Question 17
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [23]:
# grab predictor and target variables
x = df[['T2']]
y = df['T6']

model = LinearRegression().fit(x, y) # fit linear model
y_pred = model.predict(x) # get predictions
mse(y, y_pred, squared=False).round(3) # get rmse

3.644

####

#### Question 18
Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the training set?

In [12]:
# get predictor and target variables
X = df.drop(columns=['date', 'lights', 'Appliances'])
y = df['Appliances']

# split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize features
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create model and fit to data
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Generate predictions and compute MAE
y_pred_train = model.predict(X_train_scaled)
mae(y_train, y_pred_train).round(3)

53.742

####

#### Question 19
What is the Root Mean Squared Error (in three decimal places) for the training set?

In [13]:
# get rmse
mse(y_train, y_pred_train, squared=False).round(3)

95.216

####

#### Question 20
What is the Mean Absolute Error (in three decimal places) for test set?

In [14]:
mae(y_test, model.predict(X_test_scaled)).round(3)

53.643

####

#### Question 21
What is the Root Mean Squared Error (in three decimal places) for test set?

In [15]:
rmse = mse(y_test, model.predict(X_test_scaled), squared=False)
rmse.round(3)

93.64

####

#### Question 22
Did the model above overfit to the training set?

#### Answer: No, since the error on the test is lesser than that on the training data.

####

#### Question 23
Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [18]:
# instantiate and train ridge model with default hyperparameters
ridge = Ridge()
ridge.fit(X_train_scaled, y_train)

# Get predictions and evaluate
ridge_pred_test = ridge.predict(X_test_scaled)
rmse_ridge = mse(y_test, ridge_pred_test, squared=False)
print(rmse_ridge)

if rmse_ridge != rmse:
    print('Yes')

93.7087747764201
Yes

####

#### Question 24
Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [20]:
# instantiate and train Lasso model with default hyperparameters
lasso = Lasso()
lasso.fit(X_train_scaled, y_train)

# get number of non-zero feature weights
sum(lasso.coef_ != 0)

4

####

#### Question 25
What is the new RMSE with the Lasso Regression on the test set?

In [22]:
lasso_pred_test = lasso.predict(X_test_scaled)
mse(y_test, lasso_pred_test, squared=False).round(3)

99.424